@using DentalClinic.Web.Infrastructure.Extensions
@using DentalClinicSystem.Services.Interfaces
@using static DentalClinicSystem.Common.GeneralApplicationConstants;
@inject IDentistService dentistService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DentalClinic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DentalClinic.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secondary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dental Clinic</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            
                            @if (User?.IsInRole("Admin") ?? false)
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Create">CreateDentist</a>
                            }
                            else if (User.IsInRole("Dentist"))
                            {
                                
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="Booking">Make an appointment!</a>
                            }

                        </li>
                        @if (!User.IsInRole("Admin") && !User.IsInRole("Dentist"))
                        {
                            <li>
                                <div class="btn-group">
                                    <button type="button" class="btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Treatments
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Treatment" asp-action="Whitening">Whitening</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Treatment" asp-action="Extraction">Tooth extraction</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Treatment" asp-action="Root">Root canal treatment</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Treatment" asp-action="Prosthodontic">Prosthodontic treatment</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Treatment" asp-action="Orthodontics">Orthodontics</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Treatment" asp-action="Cleaning">Teeth cleaning</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Treatment" asp-action="Caries">Caries treatment</a></li>

                                    </ul>
                                </div>
                            </li>
                        }

                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            string userId = User.GetId();
                            bool isUserAdentist = await dentistService.IsDentistExist(userId);
                            if (isUserAdentist)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Dentist" asp-action="AllPatients">My patients</a>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="All">My appointments</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-dark bg-secondary text-light">
        <div class="container">
            &copy; DentalClinic @ReleaseYear
            @if (DateTime.UtcNow.Year != ReleaseYear)
            {
                @Html.Raw($" - {DateTime.UtcNow.Year}")
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
