@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <div class="background-image-container">
        <style>
            body {
                margin: 0;
            }
        </style>
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/b1bce191300193.5e2ebd5c0b18c.jpg" alt="Image" class="img-fluid">
    </div>
</div>


