@{
    ViewBag.Title = "Whitening";
}

<form asp-controller="Reservation" asp-action="Booking" method="get">
    <div class="text-center row">
        <div class="card col-4">
            <img class="bg-secondary" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOconHgmX4Dm0OZVLD6joyLyUa0O_v8pMFXA&usqp=CAU" width="400" height="300" border="0" />
            <div class="card-body">
                What is a root canal? Root canal treatment is a dental procedure that relieves pain caused by an infected or abscessed tooth. During the root canal process, the inflamed pulp is removed. The surfaces inside the tooth are then cleaned and disinfected, and a filling is placed to seal the space.
            </div>
        </div>

        <div class="mb-3">
            <input class="btn btn-secondary mb-2 w-100 p-3 fw-bold" type="submit" value="Book Now" />
        </div>
    </div>
</form>